<div class="card text-center mb-3">
  <div class="card-body">
  <% if @gossip !=nil%>
  <div class="card bg-light text-dark font-weight-bold mb-3">
      <%= "Votre modification a bien été enregistrée" %>
  </div>
  <%end%>
  <a class="btn btn-dark" <%= link_to "Soumettre un Gossip", new_gossip_path%></a>
  </div>
</div>
<section>
<div class="card-deck">
<%@gossips.each do |gossip|%>
<div class="col-sm-4 mb-3">
<div class="card">
  <div class="card-header">
    Gossip #<%=gossip.id%>
  </div>
  <div class="card-body align-center">
    <blockquote class="blockquote mb-0">
      <p><%=gossip.title%></p>
    </blockquote>
    <footer class="blockquote-footer">
      <div class="row justify-content-between align-self-center mx-3">
      <div class="row justify-content-between align-self-center mx-3">
        <p><%= link_to "#{User.find(gossip.user_id).first_name} #{User.find(gossip.user_id).last_name}", author_path(gossip.user_id), :class =>"text-muted p-0"%></p>
      </div>
      <div class="row justify-content-between align-self-center">
        <a class="btn btn-dark mr-2" <%= link_to "Voir", gossip_path(gossip.id)%></a>
        <button type="button" class="btn btn-light border-dark">
          # <span class="badge badge-dark"><%=gossip.comments.size%></span>
        </button>
      </div>
      </div>
    </footer>
  </div>
</div>
</div>
<%end%>
</div>
</section>