<div class="card">
  <div class="card-header">
    <div class="font-weight-bold">Gossip n°<%=params[:id]%></div>
    <div class="text-muted"><%Gossip.find(params[:id]).tags.each do |item| %> 
    	#<%=item.title%>
    	<%end%>
    	</div>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= Gossip.find(params[:id]).title%></h5>
    <p class="card-text"><%= Gossip.find(params[:id]).content%></p>
    <a hclass="btn btn-dark"<%= link_to "#{User.find(Gossip.find(params[:id]).user_id).first_name} #{User.find(Gossip.find(params[:id]).user_id).last_name}", author_id_path(Gossip.find(params[:id]).user_id.to_i)%></a>
  </div>
</div>
