<div class="card">
  <div class="card-header font-weight-bold">
    City #<%=params[:id]%>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @city.name%></h5>
    <div class="card-text">
		<p>ZIP Code : <%= @city.zip_code%></p>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header mb-3">
    <% if @gossips.size == 0 %>
    <p> Il n'y a pas encore de gossip pour <%= @city.name%></p>
    <% else %>
    <p>Voici le(s) <%=@gossips.size%> gossip(s) écrit(s) à <%= @city.name%>:</p>
    <%end%>
   </div>
<div class="card-deck">
<%@gossips.each do |gossip|%>
<div class="col-sm-4 mb-3">
<div class="card">
  <div class="card-header">
    Gossip #<%=gossip.id%>
  </div>
  <div class="card-body align-center">
    <blockquote class="blockquote mb-0">
      <p><%=gossip.title%></p>
    </blockquote>
    <footer class="blockquote-footer">
      <div class="row justify-content-between align-self-center mx-3">
        <p><%= link_to "#{User.find(gossip.user_id).first_name} #{User.find(gossip.user_id).last_name}", author_path(gossip.user_id), :class =>"text-muted p-0"%></p>
        <a class="btn btn-dark" <%= link_to "Voir", gossip_path(gossip.id)%></a>
      </div>
    </footer>
  </div>
</div>
</div>
<%end%>
</div>
</div>